@using Ogloszenia.Models;
@model Ogloszenia.Models.Ad
        

@{
    ViewBag.Title = Html.DisplayFor(model => model.Title);
}


@helper DisplayCategories(ICollection<Ogloszenia.Models.Category> categories)
{
String result = "";
foreach(Category c in categories.OrderBy(c => c.Name))
{
    result += c.Name + ", ";
}
if(result.Length - 2 > 0)
{
    result = result.Substring(0, result.Length - 2);
}
@Html.Raw(result)

}

<h2>Szczegóły ogłoszenia</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category) 
        </dt>

        <dd>
            @DisplayCategories(Model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Wróć do listy", "Index")
</p>
