@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bartosz Siemieńczuk, Adam Supiński">
    <title>Ogłoszenia || @ViewBag.Title</title>

    <!-- core CSS -->

    @Styles.Render("~/Assets/css/bootstrap")
    @Styles.Render("~/Assets/css")
    @Styles.Render("~/Assets/css/responsive")
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head><!--/head-->
<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="on" placeholder="Szukaj">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Ogłoszenia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Główna", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ogłoszenia <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Przeglądaj", "IndexAdmin", "Ad")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Przeglądaj", "Index", "Ad")</li>
                                }

                                <li>@Html.ActionLink("Szukaj", "Search", "Ad")</li>
                                @if (ViewContext.HttpContext.User.IsInRole("User"))
                                {
                                    <li>@Html.ActionLink("Dodaj nowe", "Create", "Ad")</li>
                                    <li>@Html.ActionLink("Zarządzaj", "Manage", "Ad", null, HttpContext.Current.User.Identity.GetUserId())</li>
                                }
                            </ul>
                        </li>
                        @if (ViewContext.HttpContext.User.IsInRole("User"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Twoje konto  <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Edytuj", "Edit", "Account")</li>
                                </ul>
                            </li>
                        }

                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategorie <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Przeglądaj", "Index", "Category")</li>
                                    <li>@Html.ActionLink("Dodaj nową", "Create", "Category")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Użytkownicy <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Przeglądaj", "Manage", "Account")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filtry ogłoszeń <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Słowa zakazane", "Index", "Filter")</li>
                                </ul>
                            </li>
                        }
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->
    <section id="content">
        <div class="container">
            @RenderBody()
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Skorzystaj z naszych ogłoszeń</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-money"></i>
                            <h2>Tanio</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-clock-o"></i>
                            <h2>Szybko</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-thumbs-up"></i>
                            <h2>Skutecznie</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Adipisicing elit</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Sed do eiusmod</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Labore et dolore</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="#">Adam i Bartek</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>@Html.ActionLink("Ogłoszenia", "Index", "Ad")</li>
                        <li>@Html.ActionLink("Ogłoszenia", "Index", "Category")</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    @Scripts.Render("~/bundles/templateScripts")
    @RenderSection("scripts", required: false)
</body>
</html>